.GameBoard {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 60%;
  vertical-align: top;
}

.board-top {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 20%;
}

.board-left {
  display: inline;
  position: absolute;
  top: 15%;
  left: 0;
}

.board-right {
  display: inline;
  position: absolute;
  top: 15%;
  right: 0;
}

.board-bottom {
  display: inline;
  position: absolute;
  left: 20%;
  bottom: 5px;
}

.board-middle {

}